<template name="Navigation">
  <div class="menu">
    <h1><a href="{{pathFor route='home'}}">Simple Gallery</a></h1>
    <h2><a href="{{pathFor route='categoryPage' name='nature'}}" class="category">nature</a></h2>
    <h2><a href="{{pathFor route='categoryPage' name='cats'}}" class="category">cats</a></h2>
    <h2><a href="{{pathFor route='categoryPage' name='sports'}}" class="category">sports</a></h2>
    <h2><a href="{{pathFor route='categoryPage' name='food'}}" class="category">food</a></h2>
  </div>
</template>